.container {
    background-color: whitesmoke ;
    color: #121212bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}

.button{
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(18, 18, 17, 0.9);
    color: white;
    cursor: pointer;
}

.paragraph {
    font-weight: bold;
}